<h1> All about <%= @artist.name %> </h1>

<h3> <%= @artist.title %> </h3>

<p> Age: <%= @artist.age %> </p>

<ul>
    <% @artist.genres.each do |genre| %>
    <li>
        <%= genre.instrument.name %>
    </li>
    <% end %>
</ul>

<%= @artist.instruments[0].name %>


<%= link_to "Edit Artist", edit_artist_path(@artist) %>